<div class="container container-event event-create">
    <h2>Create New Event</h2>
    <form action="/events/create" method="POST">
        <label for="title_short">Short Title:</label><br>
        <input type="text" id="title_short" name="title_short" required><br><br>
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" required><br><br>
        <label for="description">Description:</label><br>
        <textarea id="description" name="description" required></textarea><br><br>
        <button type="submit">Create Event</button>
    </form>
</div>