<div class="container container-imprint editorContainer">
    <div class="eventForm">
        <div class="eventFormItems">
            <p class="eventTitle">IMPRINT</p>
            <p class="eventDescription fontThin">
                Imprint <br>
                Information according to § 5 DDG <br><br>

                Alex Drateln<br>
                Dratelnstraße 26<br>
                21105 Hamburg<br><br>

                Represented by:<br>
                Alex Drateln<br><br>

                Contact:<br>
                Phone: 01234-789456<br>
                Fax: 1234-56789<br>
                Email: alex@drateln.de<br><br>
            </p>
        </div>
    </div>
</div>