<div class="create_event_container">
    <div class="width_50_percent padding-small">
        <form action="/events/create" method="POST" class="create_event_form">
            <label for="title" class="create_event_label">Title:</label><br>
            <input type="text" id="title" name="title" class="create_event_input" required><br><br>
            <label for="title_short" class="create_event_label">Short Title:</label><br>
            <input type="text" id="title_short" name="title_short" class="create_event_input" required><br><br>
            <label for="description" class="create_event_label">Description:</label><br>
            <textarea id="description" name="description" class="create_event_input create_event_textarea" required></textarea><br><br>
            <input type="hidden" id="is_html" name="is_html" value="false" class="make_it_sparkle pointercursor">
            <button type="submit" class="highlight_button submit_button pointercursor">Create Event</button>
        </form>
    </div>

    <div class="width_50_percent padding-small">
        <h2 id="preview-title"></h2>
        <div id="preview-description" class="white_font"></div>
    </div>


    <script>
        const descriptionInput = document.getElementById('description');
        const titleInput = document.getElementById('title');
        const isHtmlCheckbox = document.getElementById('is_html');
        const previewContent = document.getElementById('preview-description');
        const previewTitle = document.getElementById('preview-title');

        function replaceLinebreaks(content) {
            return content.replace(/\n/g, '<br>');
        }

        function isHTML(content) {
            // Simple regex to detect HTML tags
            const htmlTagRegex = /<\/?[a-z][\s\S]*>/i;
            return htmlTagRegex.test(content);
        }

        function updatePreview() {
            const content = descriptionInput.value ? descriptionInput.value : 'Your formatted content will appear here.';

            const title = titleInput.value ? titleInput.value : 'Your Title will appear here';

            const containsHtml = isHTML(content);

            isHtmlCheckbox.value = containsHtml;

            if (containsHtml) {
                previewContent.innerHTML = content;
            } else {
                previewContent.innerHTML = replaceLinebreaks(content);
            }

            previewTitle.innerHTML = title;
        }

        updatePreview();

        descriptionInput.addEventListener('input', updatePreview);
        titleInput.addEventListener('input', updatePreview);
        isHtmlCheckbox.addEventListener('change', updatePreview);
    </script>
</div>