<h1 class="yellow_headline headline text_center">Imprint</h1>
<div class="imprint_container">
    <div>
        <h2 class="white_font">Contactinformation</h2>
        <p><strong>Email:</strong><br>info.clean2gather@email.com</p>
        <p><strong>Phone:</strong><br>+12 3456 678 90</p>
        <p><strong>Address</strong><br>Dratelnstraße 26 21109 Hamburg</p>
    </div>

    <div>
        <h2 class="white_font">Representatives</h2>
        <p>The organization is represented by:</p>
        <p>Shirley Popp<br>popp.clean2gather@email.com</p>
    </div>
</div>
<br>
<br>
<hr>
<div class="margin_lr_auto width_50_percent text_center">
    <h2 class="white_font">Disclaimer</h2>
    <p>While we strive to ensure the accuracy of the information on our website, Clean2gather e.V. accepts no liability for errors, omissions, or outdated content. Links to third-party websites are provided for informational purposes only, and we are not responsible for their content.</p>
</div>