<div class="header"></div>

<div>
    <h1 class="hometown_sparkle">MAKE YOUR HOMETOWN SPARKLE</h1>
    <p class="cleancity_together">At <strong>CleanCity Together</strong>, we bring communities together to make our cities sparkle! Whether you're
        here to organize an event, join as a volunteer, or just curious about how we help the environment, we're
        thrilled to have you.</p>

    <div class="what_we_do">
        <div class="headlines">
            <h2 class="what_we_do_headline">What</h2>
            <h2 class="what_we_do_headline we">We</h2>
            <h2 class="what_we_do_headline">Do</h2>
        </div>
        <p class="what_we_do_text">
            We organize cleaning events all over the city, helping reduce waste, beautify public spaces, and create lasting
            connections between neighbors. Together, we make a difference, one event at a time.
            We organize cleaning events all over the city, helping reduce waste.
        </p>
    </div>

    <div class="card_container">
        <h1 class="how_it_works_headline">How It Works</h1>
        <div class="how_it_works_cards">
            <div class="card_width">
                <p class="huge_1">1</p>
                <p class="card_headline">Join an Event</p>
                <p class="card_subline">Browse upcoming cleaning events and sign up to join the fun.</p>
            </div>
            <div class="card_width">
                <p class="huge_2">2</p>
                <p class="card_headline">Create an Event</p>
                <p class="card_subline">Organize a cleaning event in your neighborhood and rally volunteers to help out.</p>
            </div>
            <div class="card_width">
                <p class="huge_3">3</p>
                <p class="card_headline">Make a Difference</p>
                <p class="card_subline">After the event, see the immediate impact of your efforts and celebrate with new friends!</p>
            </div>
        </div>
    </div>
</div>