<link rel="stylesheet" href="{{ url_for('static', filename='editor.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='toastify/toastify.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='toastify/toastify.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='toastify.override.css') }}">

<div class="editor_container_fixed">
    <div class="editor_container rounded-single">
        <div class="editor_toolbar rounded dark_green_bg">
            <div id="toolbar" class="toolbar-components toolbar-selection">
                <ul id="component-template-list" class="component-template-list unlisted">
                </ul>
            </div>

            <div class="toolbar-components toolbar-list">
                <ul id="component-list" class="component-template-list unlisted">
                </ul>
            </div>
            <div class="toolbar-submit-button toolbar-submit">
                <button class="highlight_button" id="show-submit">
                    Create Event
                </button>
            </div>
        </div>
        <div class="editor_main rounded dark_green_bg">
            <div id="history-toolbar">
                <button class="history-button" id="history-undo"><</button>
                <button class="history-button" id="history-redo">></button>
                <button class="history-button" id="history-save">Save</button>
            </div>
            <div id="content"></div>
        </div>
        <div class="editor_settings rounded dark_green_bg">
            <div id="settings">
                <ul id="settings-list" class="component-template-list unlisted">
                </ul>
            </div>
        </div>

    </div>
</div>

<div class="editor-submit-event hidden" id="editor-submit-dialog">
  <form action="/events/create" method="POST" class="create_event_form">
    <h2 class="create_event_sublines">Submit your event here or copy & edit the HTML elsewhere if you want!</h2>

    <div class="form-row">
      <label for="title_short">Short Title:</label>
      <input type="text" id="title_short" name="title_short" class="create_event_input" required>
    </div>

    <div class="form-row">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" class="create_event_input" required>
    </div>

    <div class="form-row">
      <label for="description">Description:</label>
      <textarea id="description" name="description" class="create_event_input create_event_textarea"></textarea>
    </div>

    <input type="hidden" id="is_html" name="is_html" value="false" class="make_it_sparkle pointercursor">

    <button type="submit" class="highlight_button submit_button pointercursor">Create Event</button>
    <button class="submit_button pointercursor" id="hide-submit">Abort</button>
  </form>
</div>


<script type="module">
    import {Editor} from "{{ url_for('static', filename='editor.js') }}";
    const editor = new Editor();
    editor.overrideKeyBinds();
    const showSubmitButton = document.getElementById('show-submit');
    const hideSubmitButton = document.getElementById('hide-submit');
    const inputDescription = document.getElementById('description');
    const undoButton = document.getElementById('history-undo');
    const redoButton = document.getElementById('history-redo');
    const saveButton = document.getElementById('history-save');

    showSubmitButton.addEventListener('click', editor.onClickSubmitEvent());
    showSubmitButton.addEventListener('click', editor.onClickUpdateSubmitDescription(inputDescription));

    undoButton.onclick = editor.onClickUndo();
    redoButton.onclick = editor.onClickRedo();
    saveButton.onclick = editor.eventListenerSave();


    hideSubmitButton.onclick = editor.onClickHideEvent();


</script>