<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ view }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
</head>
<body>

    {% include 'index_toolbar_buttons.html' %}
    {% include 'index_container.html' %}
    {% include 'index_sidebar.html' %}
    {% include 'index_footer.html' %}
    {% if not logged_in %}
        {% include 'index_ad.html' %}
    {% endif %}

</body>
</html>
