    <div class="header margin_0">
        <div class="width_30_percent">
            <h1 class="header_headline yellow_headline">Volunteers <br> Needed</h1>
            <p class="header_subline">
                Grab your gloves, join the squad, and let’s turn trash into treasure by giving our local environment a glow-up! After the hard work, kick back with the crew, swap cleanup stories, and celebrate like eco-champions!
            </p>
            <a class="purple_button">Get Started</a>
        </div>
        <div>
            <img src="../static/content/cleaning_art.png">
        </div>
    </div>

    <div class="dark_green_bg hometownsparkle_container">
        <h1 class="headline white_font text_center">MAKE YOUR HOMETOWN SPARKLE</h1>
        <p class="cleancity_together white_font text_center">At <strong>CleanCity Together</strong>, we bring communities together to make our cities sparkle! Whether you're
            here to organize an event, join as a volunteer, or just curious about how we help the environment, we're
            thrilled to have you.</p>
    </div>

    <div class="text_image_container margin_lr_auto background big_padding_top">
        <div>
            <img class="image_element" src="../static/content/buckets_of_trash.avif">
        </div>
        <div class="text_element margin_tb_auto">
            <h2 class="yellow_headline">What We Do</h2>
            Clean2gather e.V. turns cleaning up the local town and nearby nature into a fun community adventure!
            They’ve got you covered with all the tools—gloves, trash bags, and those cool litter grabbers that make you feel like a pro.<br>
            It’s a chance to team up with friends, neighbors, and new faces to tackle trash and show some love to your environment.
            After the mission’s complete, it’s all about kicking back, swapping stories, and celebrating your epic cleanup success!
        </div>
    </div>

    <div class="text_image_container margin_lr_auto background big_padding_top big_padding_bot">
        <div class="text_element margin_tb_auto">
            <h2 class="yellow_headline">Together, we make a change</h2>
            Clean2gather e.V.’s cleaning events are like the ultimate neighborhood party—with gloves and trash bags!
            They bring together locals of all ages to tackle litter, laugh, and turn tidying up into a team sport. <br>
            It’s not just about cleaning; it’s about connecting, sharing high-fives, and celebrating your eco-warrior vibes.
            By the end, everyone leaves with a cleaner community, a big smile, and maybe even a new cleanup buddy!
        </div>
        <div>
            <img class="image_element" src="../static/content/hands_together_cleanup_forest.avif">
        </div>
    </div>

    <div class="card_container">
        <h1 class="how_it_works_headline margin_0 text_center">How It Works</h1>
        <div class="how_it_works_cards">
            <div class="width_30_percent">
                <p class="huge_1 margin_0 text_center">1</p>
                <p class="card_headline margin_0 text_center">Join an Event</p>
                <p class="margin_0 text_center">Browse upcoming cleaning events and sign up to join the fun.</p>
            </div>
            <div class="width_30_percent">
                <p class="huge_2 margin_0 text_center">2</p>
                <p class="card_headline margin_0 text_center">Create an Event</p>
                <p class="margin_0 text_center">Organize a cleaning event in your neighborhood and rally volunteers to help out.</p>
            </div>
            <div class="width_30_percent">
                <p class="huge_3 margin_0 text_center">3</p>
                <p class="card_headline margin_0 text_center">Make a Difference</p>
                <p class="margin_0 text_center">After the event, see the immediate impact of your efforts and celebrate with new friends!</p>
            </div>
        </div>
    </div>

    <div class="fullwidth_textimage_container">
        <div class="halfwidth margin_tb_auto text_halfwidth">
            <h2 class="yellow_headline text_halfw_h2">Cleaning the Environment: Small Actions, Big Impact!</h2>
            Cleaning the environment helps restore natural beauty and ensures a healthier habitat for wildlife.
            It prevents harmful waste from polluting land and water, protecting ecosystems and public health. <br>
            Beyond the physical benefits, cleanup efforts inspire communities to adopt sustainable practices and take pride in their surroundings.
            Together, these actions create a ripple effect, fostering a cleaner, greener planet for future generations.<br>
            Cleanup efforts also raise awareness about the importance of reducing waste and adopting eco-friendly habits in daily life.
            Each piece of litter removed is a step toward preserving the planet’s resources and combating the effects of pollution.
        </div>
        <div class="halfwidth">
            <div class="image_halfwidth">
        </div>
    </div>