<div class="container container-my-events">
    {% if my_events %}
        {% for event in my_events %}
            <div class="event">
                <h2><a href="{{ url_for('events.get_event', event_id=event.get_id()) }}">{{ event.get_title() }}</a></h2>
                <form action="{{ url_for('events.get_event', event_id=event.get_id()) }}" method="POST">
                    <button type="submit">View Event</button>
                </form>
            </div>
            <hr>
        {% endfor %}
    {% else %}
        <p>
            You don't have any events created.<br>
            Create one <a href="/view/event-create">here</a>.
        </p>
    {% endif %}
</div>
