<h1 class="headline yellow_headline text_center">CHECK OUT YOUR EVENTS</h1>
<div class="pb_container">
    {% if my_events %}
        {% for event in my_events %}
            <div class="event">
                <h2><a class="my_events_titles white_font" href="{{ url_for('events.get_event', event_id=event.get_id()) }}">{{ event.get_title() }}</a></h2>
                <form action="{{ url_for('events.get_event', event_id=event.get_id()) }}" method="POST" class="view_event">
                    <button type="submit" class="highlight_button purple_button pointercursor">View Event</button>
                </form>
            </div>
            <hr>
        {% endfor %}
    {% else %}
        <p>
            You don't have any events created.<br>
            Create one <a href="/view/event-create">here</a>.
        </p>
    {% endif %}
</div>
