<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ view }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='toastify.override.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='toastify/toastify.css') }}">
</head>
<body>

    {% include 'index_toolbar_buttons.html' %}

    {% include 'index_container.html' %}
    {% if not view == 'EVENT_EDITOR' %}
        {% if logged_in %}
            {% include 'index_sidebar.html' %}
        {% endif %}
        {% include 'index_footer.html' %}
    {% endif %}
<script type="text/javascript" src="{{ url_for('static', filename='toastify/toastify.js') }}"></script>
</body>
</html>
