<div class="container container-event container-event-single">
    <div class="event-title">{{ focused_event.title }}</div>
    <div class="event-owner">Owner: {{ focused_event.owner_username }}</div>
    <div class="event-description">{{ focused_event.description }}</div>
    <div class="event-subscriptions">
        Subscriptions: {{ focused_event.get_subscriptions() if focused_event.subscriptions else 'No subscriptions' }}
    </div>

    <form action="/events/subscribe" method="POST">
        <input type="text" id="event_id" name="event_id" value="{{ focused_event.id }}" readonly style="display: none;">
        <button type="submit">Surbscribe</button>
    </form>

</div>