<!-- index_container_register.html -->
<div class="container container-register">
    <h1 class="team_headline">CREATE AN ACCOUNT</h1>
    <div class="login_container">
        <form action="/register" method="POST">
            <div class="login_form_container">
                <label for="username" class="credidentials">USERNAME:</label><br>
                <input type="text" id="username" name="username" class="input_fields" required><br><br>
            </div>
            <div class="login_form_container">
                <label for="password" class="credidentials">PASSWORD:</label><br>
                <input type="password" id="password" name="password" class="input_fields" required><br><br>
            </div>
            <div class="login_form_container">
               <label for="role_id" class="credidentials">ROLE:</label><br>
                <select id="role_id" name="role_id" class="input_fields" required>
                    <option value="1">User</option>
                    <option value="2">Admin</option>
                    <option value="3">Creator</option>
                </select><br><br>
            </div>
            <button type="submit" class="highlight_button make_it_sparkle">Register</button>
        </form>
        <p>Already have an account? <a href="/view/login" class="login_register">Login here</a></p>
    </div>
</div>
