<!-- Corresponds to view.py (class: View) -->
<div class="container">
    {% if view == 'HOME' %}
        {% include 'index_container_home.html' %}
    {% elif view == 'EVENT_CREATE' %}
        {% include 'index_container_event_create.html' %}
    {% elif view == 'EVENT_ALL' %}
        {% include 'all-events.html' %}
    {% elif view == 'EVENT_SINGLE' %}
        {% include 'index_container_event_single.html' %}
    {% elif view == 'LOGIN' %}
        {% include 'index_container_login.html' %}
    {% elif view == 'REGISTER' %}
        {% include 'index_container_register.html' %}
    {% elif view == 'TERMS' %}
        {% include 'index_container_tos.html' %}
    {% elif view == 'IMPRINT' %}
        {% include 'index_container_imprint.html' %}
    {% elif view == 'MY_EVENTS' %}
        {% include 'index_container_my_events.html' %}
    {% elif view == 'TEAM' %}
        {% include 'index_container_team.html' %}
    {% else %}
        <p>Select a view from the toolbar.</p>
    {% endif %}
</div>