<div class="event_detail_container">
    <div class="event_detail">
        <div class="event_title text_center">{{ focused_event.get_title() }}</div>
        <div class="event_description html-formatted">{{ focused_event.get_description() | safe }}</div>
        <div class="event-owner">Event hosted by: {{ focused_event.get_owner_username() }}</div>
        <div class="event-subscriptions">
            Subscriptions: {{ focused_event.get_subscriptions() if focused_event.subscriptions else 'No subscriptions' }}
        </div>

        <form action="/events/subscribe" method="POST">
            <input type="hidden" id="event_id" name="event_id" value="{{ focused_event.get_id() }}">
            <button type="submit" class="highlight_button submit_button">Surbscibe</button>
        </form>
    </div>
    {% include 'index_container_event_single_comments.html' %}
</div>
