<div class="container container-team">
    <h1 class="team_headline">MEET OUR TEAM</h1>
    <div class="team_container">
        <img src="../static/content/woman_1.avif" class="team_image">
        <div class="team_text_container">
            <h1 class="team_name"><strong>Galpal,</strong>    28</h1>
            <p class="team_name">
                Galpal is a passionate and curious woman who studies biology with a particular interest in ecosystems and animal behavior.
                In her free time, she works part-time at an animal shelter, where her gentle demeanor and quick thinking make her a favorite among both the animals and her coworkers.
                A natural adventurer, she loves to travel and is always seeking out opportunities to explore new cultures and natural landscapes.
                She has a playful sense of humor that puts others at ease, but she’s also fiercely determined when it comes to achieving her goals.
                Galpal is known for her knack for problem-solving, whether it’s untangling scientific mysteries or finding creative solutions for the animals in her care.
            </p>
        </div>
    </div>

    <div class="team_container">
        <div class="team_text_container">
                <h1 class="team_name"><strong>Galname,</strong>    25</h1>
                <p class="team_name">
                    Galname is a passionate and curious woman who studies biology with a particular interest in ecosystems and animal behavior.
                    In her free time, she works part-time at an animal shelter, where her gentle demeanor and quick thinking make her a favorite among both the animals and her coworkers.
                    A natural adventurer, she loves to travel and is always seeking out opportunities to explore new cultures and natural landscapes.
                    She has a playful sense of humor that puts others at ease, but she’s also fiercely determined when it comes to achieving her goals.
                    Galname is known for her knack for problem-solving, whether it’s untangling scientific mysteries or finding creative solutions for the animals in her care.
                </p>
            </div>
        <img src="../static/content/woman_2.avif" class="team_image">
    </div>
</div>