
    <h1 class="headline yellow_headline text_center">CREATE YOUR EVENT HERE</h1>
    <div class="create_event_container">
        <form action="/events/create" method="POST" class="create_event_form width_30_percent">
            <h2 class="create_event_sublines">Here you customize your event:</h2>
            <label for="title_short" class="credidentials">Short Title:</label><br>
            <input type="text" id="title_short" name="title_short" class="create_event_input" required><br><br>
            <label for="title" class="credidentials">Title:</label><br>
            <input type="text" id="title" name="title" class="create_event_input" required><br><br>
            <label for="description" class="credidentials">Description:</label><br>
            <textarea id="description" name="description" class="create_event_input create_event_textarea" required></textarea><br><br>
            <input type="hidden" id="is_html" name="is_html" value="false" class="make_it_sparkle">
            <button type="submit" class="highlight_button submit_button">Create Event</button>
        </form>
        <div class="width_30_percent" id="preview">
            <h2 class="create_event_sublines">Over here you can preview your customizations:</h2>
            <div id="preview-content" class="white_font">Your formatted content will appear here.</div>
        </div>



    <script>
        const descriptionInput = document.getElementById('description');
        const isHtmlCheckbox = document.getElementById('is_html');
        const previewContent = document.getElementById('preview-content');

        function replaceLinebreaks(content) {
            return content.replace(/\n/g, '<br>');
        }

        function isHTML(content) {
            // Simple regex to detect HTML tags
            const htmlTagRegex = /<\/?[a-z][\s\S]*>/i;
            return htmlTagRegex.test(content);
        }

        function updatePreview() {
            const content = descriptionInput.value;

            const containsHtml = isHTML(content);

            isHtmlCheckbox.value = containsHtml;

            if (containsHtml) {
                previewContent.innerHTML = content;
            } else {
                previewContent.innerHTML = replaceLinebreaks(content);
            }
        }

        descriptionInput.addEventListener('input', updatePreview);
        isHtmlCheckbox.addEventListener('change', updatePreview);
    </script>
</div>