<div class="container container-team">
    <h1 class="team_headline yellow_headline text_center">MEET OUR TEAM</h1>
    <div class="team_container">
        <img src="../static/content/woman_1.avif" class="team_image">
        <div class="team_text_container">
            <h1 class="white_font margin_0"><strong>Lisa Jensen</strong></h1>
            <p class="white_font">
                28 Jahre alt <br>
                B.A. Sozialpädgogik <br>
                Erzieherin in einer Kindertagesstätte
            </p>
            <p>
                In her free time, she works part-time at an animal shelter, where her gentle demeanor and quick thinking make her a favorite among both the animals and her coworkers. <br>
                A natural adventurer, she loves to travel and is always seeking out opportunities to explore new cultures and natural landscapes.
                She has a playful sense of humor that puts others at ease, but she’s also fiercely determined when it comes to achieving her goals.<br>
                Galpal is known for her knack for problem-solving, whether it’s untangling scientific mysteries or finding creative solutions for the animals in her care.<br>
            </p>
            <p>
                <a class="white_font">Social Media</a> <br>
                Instagram: @happylisa
            </p>
        </div>
    </div>

    <div class="team_container">
        <div class="team_text_container">
            <h1 class="white_font margin_0"><strong>Shirley Popp</strong></h1>
            <p class="white_font">
                33 Jahre alt <br>
                M.S. Biologie<br>
                Mikrobiologie Forschung
            </p>
            <p>
                In her free time, she works part-time at an animal shelter, where her gentle demeanor and quick thinking make her a favorite among both the animals and her coworkers. <br>
                A natural adventurer, she loves to travel and is always seeking out opportunities to explore new cultures and natural landscapes.
                She has a playful sense of humor that puts others at ease, but she’s also fiercely determined when it comes to achieving her goals.<br>
                Galpal is known for her knack for problem-solving, whether it’s untangling scientific mysteries or finding creative solutions for the animals in her care.<br>
            </p>
            <p>
                <a class="white_font">Social Media</a> <br>
                Instagram: @bioshirley
            </p>
        </div>
        <img src="../static/content/woman_2.avif" class="team_image">
    </div>
</div>